.bg-cover {
    background-image: url("../images/main-bg-2.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-signin {
    background-color: #dddddd;
    padding: 20px;
    text-align: center;
    border-radius:  16px;
}

input {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
}

img {
    width: 130px;
    clip-path: circle(50% at center);
}